<%= content_tag :div, id: dom_id(todo_item), class: "todo-item-row #{todo_item.completed? ? 'complete' : 'incomplete'}" do %>
	<%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item), remote: true, method: :patch, class: 'todo-item-checkbox' do %>
		<i class="fa fa-check"></i>
	<% end %>

	<div class="todo-item">
		<p class="todo-item-content"><%= todo_item.content %></p>
	</div>
	
	<div class="actions-wrap">
		<%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item), class: "todo-item-actions edit" do %>
			<i class="fa fa-pencil"></i>
		<% end %>

		<%= link_to todo_list_todo_item_path(@todo_list, todo_item), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "todo-item-actions delete" do %>
			<i class="fa fa-trash"></i>
		<% end %>
	</div>
<% end %>
