<section id="todo-lists-section" class="page-wrap" >
		<p id="notice"><%= notice %></p>
		
		<% @todo_lists.each do |todo_list| %>
			<div class="todo-list-wrap">
				<div class="corner-ribbon">
					<p class="corner-ribbon-content">
						Complete
					</p>
				</div>
				<div class="container">
					<h1 class="todo-list-title">
						<%= link_to todo_list.title, todo_list %>
					</h1>

					<p class="todo-list-description">
						<%= todo_list.description %>
					</p>

					<p class="todo-items-info">
						<i class="fa fa-check-square-o"></i> <%= todo_items_info_for(todo_list) %>
					</p>
				</div>
			</div>

			<hr>
		<% end %>

		<div class="container">
			<div class="links text-center">
				<%= link_to new_todo_list_path do %>
					<i class="fa fa-rocket"></i> Create new todo list
				<% end %>
			</div>
		</div>
</section>
