<section id="user-profile-section" class="page-wrap">
	<div class="container">
		<%= profile_image_for(@user, 'gravatar') %>
		
		<p class="user-name"><%= @user.full_name %></p>
		<p class="user-email"><%= @user.email %></p>

		<hr />
		
		<div class="col-1-3 todo-lists-col">
			<p><%= @user.todo_lists.size %><br /><span><%= pluralize_without_count(@user.todo_lists.size, 'todo list') %></span></p>
		</div><div class="col-1-3 todo-items-col">
			<p><%= @user.get_total_num_todo_items %><br /><span><%= pluralize_without_count(@user.get_total_num_todo_items, 'todo item') %></span></p>
		</div><div class="col-1-3 completed-items-col">
			<p><%= @user.get_total_num_completed_items %><br /><span>completed</span></p>
		</div>
		
		<div class="links">
			<%= link_to(edit_user_registration_path) do %>
				<i class="fa fa-pencil"></i>Edit profile
			<% end %>

			<%= link_to(todo_lists_path) do %>
			<i class="fa fa-list-ul"></i>View todo lists
			<% end %>
		</div>
	</div>
</section>
