<header role="banner">
	<div class="container">
		<%= link_to 'Butler', root_path, class: 'navbar-brand' %>

		<nav>
			<% if current_user %>
				<%= link_to 'Profile', current_user %>
				<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Sign up', new_user_registration_path %>
				<%= link_to 'Sign in', new_user_session_path %>
			<% end %>
		</nav>
	</div>
</header>
