<!DOCTYPE html>
<html>
<head>
  <title>Butler</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

	<%= yield %>

	<%= render 'layouts/footer' %>

</body>
</html>
